@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(147, 81, 22 , 0.9);
}
header{
    width: 100%;
    height: 30vh;
    background-image: url(musical-background-2842924_1280.webp);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}
header .head-1{
    width: 100%;
    text-align: center;
    font-size: 4vh;
    font-family: Pacifico;
    justify-content: space-around;
    align-items: center;
    padding-top: 13vh;
    
}
header .head-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .head-2 .sa{
    font-family: Pacifico;
    font-size: 2.5vh;    
    display: flex;
    align-items: center;
    color:black;
}
header .head-2 .sa-2{
    width: 9vh;
    display: flex;
    gap: 1vh;
}
header .head-2 .sa-2 .fb{
    width: 50%;
    margin: auto;
}
header .head-2 .sa-2 .fb i{
    font-size: 4vh;
}
header .head-2 .sa-2 .ig{
    width: 50%;
    margin: auto;
}
header .head-2 .sa-2 .ig i{
    font-size: 4vh;
    margin: auto;
}
header .head-2 .sa-2 a{
    color: black;
}
header .head-2 .sa-2 i:hover{
    cursor: pointer;
}
main{
    width: 100%;
}
main .slide{
    width: 414px;
    height: 50vh;
    overflow: hidden;
    margin: auto;
    margin-top: 3vh;
}
main .slide .all-slide{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
main .slide .big-slide{
    width: 500%;
    height: 100%;
    position: relative;
    animation: 10s slider infinite;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
main .slide .big-slide img{
    width: 18%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    80%{
        left: -400;
    }
    100%{
        left: 0;
    }
}
main .select{
    width: 100%;
    margin-top: 20px;
}
main .select .select1{
    display: flex;
}
main .select .select1 label{
    width: 25%;
    height: 5vh;
    font-size: medium;
    font-family: cursive;
    border-style: outset;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(185, 97, 34);
    border-color: rgb(199, 93, 18);
    border-radius: 10px;
}
main .select .select1 label:hover{
    cursor:context-menu;
    border-style: inset;
    color: rgb(255, 146, 68);
}
.select input{
    display: none;
}
main .select .namtart{
    display: none;
}
main .select .namtart .namtarb{
    width: 80%;
    margin: auto;
    background-color: rgba(110, 44, 0, 0.6);
    padding-top: 20px;
}
main .select .namtart .namtarb .namtar-1{
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
main .select .namtart .namtarb .namtar-1 h2{
    text-align: center;
}
main .select .namtart .namtarb .namtar-1 p{
    text-align: justify;
    font-family: Georgia, serif;
}
main .select .amjiltt{
    display: none;
}
main .select .amjiltt .amjiltb{
    width: 80%;
    margin: auto;
    background-color: rgba(110, 44, 0, 0.6);
    border: inset rgba(110, 44, 0, 0.6) 3px;
    border-radius: 1vh;
}
main .select .amjiltt .amjiltb .p{
    width: 90%;
    margin: auto;
    text-align: left;
}
main .select .amjiltt .amjiltb .amjilt-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}
main .select .amjiltt .amjiltb .amjilt-img img{
    width: 47%;
    object-fit: cover;
    border-radius: 2vh;
}
main .select .sonirholt{
    display: none;
}
main .select .sonirholt .sonirholb{
    width: 80%;
    margin: auto;
    background-color: rgba(110, 44, 0, 0.6);
}
main .select .sonirholt .sonirholb .page{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    overflow: hidden;
}
main .select .sonirholt .sonirholb .page .text{
    font-size: large;
    font-family: cursive;
}
main .select .sonirholt .sonirholb .page .img{
    margin-top: 20px;
    width: 500%;
    position: relative;
    animation: 10s slider infinite;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    100%{
        left: 0;   
    }
}
main .select .sonirholt .sonirholb .page .img img{
    width: 18%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px ;
}
main .select .sonirholt .sonirholb .page .img-2{
    width: 100%;
    height: 30vh;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
main .select .sonirholt .sonirholb .page .img-2 img{
    width: 49%;
    object-fit: cover;
    border-radius: 10px;
}
main .select .avyast{
    display: none;
}
main .select .avyast .avyasb{
    width: 80%;
    margin: auto;
    background-color: rgba(110, 44, 0, 0.6);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .select .avyast .avyasb .avyas-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main .select .avyast .avyasb .avyas-img img{
    width: 48%;
    height: 50vh;
    object-fit: cover;
    border-radius: 5px;
}
#namtar:checked ~ .namtart{ 
    display: block;
    width: 100%;
    margin-top: 5vh;
}
#namtar:checked ~ label{
    border-style: inset;
    color: rgb(255, 146, 68);
}
#amjilt:checked ~ .amjiltt{
    display: block;
    width: 100%;
    margin-top: 5vh;
}
#sonirhol:checked ~ .sonirholt{
    display: block;
    width: 100%;
    margin-top: 5vh;
}
#avyas:checked ~ .avyast{
    display: block;
    width: 100%;
    margin-top: 5vh;
}
footer{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
    background-color: rgba(110, 44, 0, 0.6);
    font-family: Pacifico;
}
footer .foot{
    width: 100%;
    height: 10vh;
    border-top: 2px solid rgba(147, 81, 22 , 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media screen and (min-width:0) and (max-width:414px) {
    main .slide{
        width: 100%;
    }
}
@media screen and (min-width:820px)   and (max-width:1600px){
    header .head-1{
        font-size: 6vh;
    }
    header .head-2 .sa{
        font-size: 4vh;
    }
    main{
        display: flex;  
    }
    main .select .amjiltt .amjiltb .amjilt-img{
        height: 50vh;
    }
    main .select .sonirholt .sonirholb .page{
        width: 65vh;
    }
    main .select .sonirholt .sonirholb .page .img{
        height: 50vh;
    }
    main .select .sonirholt .sonirholb .page .img-2{
        height: 50vh;
    }
    header{
        height: 50vh;
    }
    header .head-1{
        padding-top: 24vh;
    }
    main .select .avyast .avyasb .avyas-img{
        width: 65vh;
        justify-content: space-evenly;
        margin: auto;
    }
    main .select .avyast .avyasb .avyas-img img{
        height: 40vh;
    }
}
@media screen and (min-width:0) and (max-width:280px) {
    main .select .sonirholt .sonirholb .page .img{
        height: 20vh;
    }
}